<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financeiro</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <form action="/" method="POST">
      <p>é... ainda não está funcionando</p>
      <label><%= teste %></label>
      <label>Adicione os dados de gastos</label>
      <input
        type="text"
        name="transacao"
        placeholder="Adicionar receita/despesa"
      />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
