<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financeiro</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <form action="/" method="POST">
      <label>Adicione os dados de gastos</label>
      <input
        type="text"
        name="transacao"
        placeholder="Adicionar receita/despesa"
      />
      <button type="submit">Enviar</button>
    </form>

    <table>
      <tr>
        <th>data</th>
        <th>operação</th>
        <th>descrição</th>
        <th>valor</th>
      </tr>
      <% movimentacoes.itens.forEach(function(item) { %>
      <tr>
        <td><%= formatar_data(item.data_operacao, 'dd/MM/yyyy HH:mm') %></td>
        <td><%= item.operacao %></td>
        <td><%= item.descricao %></td>
        <td><%= item.valor %></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
